* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font: 12px/1.4 Georgia, Serif;
}
p {
    margin: 20px 0;
}
//#page-wrap {
//    margin: 30px;
//}
table {
	border-collapse:collapse;
	//margin: auto;
	//border-collapse:separate;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}
tr:hover {
    background-color: #ffff99;
}
tbody td:not(:first-child){
	text-align: right;
}
td:last-child, tr:last-child {
	font-weight: bold;
}
td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
    vertical-align:top;
}
th {
    //background: #333;
    //background: #838B8B;
	background: #97FFFF;
    font-weight: bold;
}
thead tr {
    border-bottom: 2px solid #424242;
    //border-bottom: 2px solid #424242;
}
caption {
	font-family: 'Enriqueta', arial, serif; line-height: 1.25; margin: 0 0 10px; font-size: 15px; font-weight: bold;
	text-align: left;
	white-space: nowrap;
}
.hidden {
    display:none;
}
