table {
    table-layout: fixed;
    word-wrap: break-word;
    width: 1px;
    border: 1px solid gray;
}
table td {
    overflow: hidden;
    border: 1px solid gray;
}
table th {
    border: 1px solid gray;
    position: relative;
    text-align: left;
    cursor: pointer;
    -moz-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
table th .resize-handle {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background-color: #CCC;
    cursor: col-resize;
}
table th .resize-marquee {
    position: absolute;
    top:0;
    left: 0;
    box-shadow: inset 0 0 0 1px gray;
}
