<!DOCTYPE html>
<html ng-app="myApp" ng-app lang="en">
<head>
    <meta charset="utf-8">
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/catalog.css" rel="stylesheet">
    <title>Simple Datagrid with search, sort and paging using AngularJS, PHP, MySQL</title>
</head>
<body>
    <div class="navbar navbar-default" id="navbar">
        <div class="container" id="navbar-container">
            <div class="navbar-header">
                <a href="http://angularcode.com" class="navbar-brand">
                    <small>
                        <i class="glyphicon glyphicon-log-out"></i>
                        AngularCode / AngularJS Demos
                    </small>
                </a><!-- /.brand -->

            </div><!-- /.navbar-header -->
            <div class="navbar-header pull-right" role="navigation">
                <a href="http://angularcode.com/angularjs-datagrid-paging-sorting-filter-using-php-and-mysql/" class="btn btn-sm btn-danger nav-button-margin"> <i class="glyphicon glyphicon-book"></i>&nbsp;Tutorial Link</a>
                <a href="http://angularcode.com/download-link/?url=https://app.box.com/s/kyomkfyeb42irie6rxcl" class="btn btn-sm btn-warning nav-button-margin"> <i class="glyphicon glyphicon-download"></i>&nbsp;Download Project</a>
            </div>
        </div>
    </div>
    <div ng-controller="customersCrtl">
        <div class="">
            <div class="row">
                <div class="col-md-2">PageSize:
                    <select ng-model="entryLimit" class="form-control">
                        <option>20</option>
                        <option>50</option>
                        <option>100</option>
                        <option>200</option>
                        <option>500</option>
                    </select>
                </div>
                <div class="col-md-3">Filter:
                    <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                </div>
                <div class="col-md-4">
                    <h5>Filtered {{ filtered.length }} of {{ totalItems}} total customers</h5>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12" ng-show="filteredItems > 0">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <th>Environment&nbsp;<a ng-click="sort_by('Environment');"><i class="glyphicon glyphicon-sort"></i></a></th>
                            <th>HostIP&nbsp;<a ng-click="sort_by('HostIP');"><i class="glyphicon glyphicon-sort"></i></a></th>
                            <th>ServiceName&nbsp;<a ng-click="sort_by('ServiceName');"><i class="glyphicon glyphicon-sort"></i></a></th>
                            <th>Status&nbsp;<a ng-click="sort_by('Status');"><i class="glyphicon glyphicon-sort"></i></a></th>
                            <th>StartTime&nbsp;<a ng-click="sort_by('StartTime');"><i class="glyphicon glyphicon-sort"></i></a></th>
                            <th>Capacity&nbsp;<a ng-click="sort_by('Capacity');"><i class="glyphicon glyphicon-sort"></i></a></th>
                            <th>Txn&nbsp;<a ng-click="sort_by('Txn');"><i class="glyphicon glyphicon-sort"></i></a></th>
                            <th>Errors&nbsp;<a ng-click="sort_by('Errors');"><i class="glyphicon glyphicon-sort"></i></a></th>
                            <th>Build&nbsp;<a ng-click="sort_by('Build');"><i class="glyphicon glyphicon-sort"></i></a></th>
                            <th>Project&nbsp;<a ng-click="sort_by('Project');"><i class="glyphicon glyphicon-sort"></i></a></th>
                            <th>Author&nbsp;<a ng-click="sort_by('Author');"><i class="glyphicon glyphicon-sort"></i></a></th>
                            <th>ModifyDate&nbsp;<a ng-click="sort_by('ModifyDate');"><i class="glyphicon glyphicon-sort"></i></a></th>
                            <th>Port&nbsp;<a ng-click="sort_by('Port');"><i class="glyphicon glyphicon-sort"></i></a></th>
                            <th>BasePath&nbsp;<a ng-click="sort_by('BasePath');"><i class="glyphicon glyphicon-sort"></i></a></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in filtered = (list | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                <td>{{data.Environment}}</td>
                                <td>{{data.HostIP}}</td>
                                <td>{{data.ServiceName}}</td>
                                <td>{{data.Status}}</td>
                                <td>{{data.StartTime}}</td>
                                <td>{{data.Capacity}}</td>
                                <td>{{data.Txn}}</td>
                                <td>{{data.Errors}}</td>
                                <td>{{data.Build}}</td>
                                <td>{{data.Project}}</td>
                                <td>{{data.Author}}</td>
                                <td>{{data.ModifyDate}}</td>
                                <td>{{data.Port}}</td>
                                <td>{{data.BasePath}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" ng-show="filteredItems == 0">
                    <div class="col-md-12">
                        <h4>No customers found</h4>
                    </div>
                </div>
                <div class="col-md-12" ng-show="filteredItems > 0">
                    <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="js/angular.min.js"></script> -->
    <!-- <script src="js/ui-bootstrap-tpls-0.10.0.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.js"></script>
    <script src="js/columnResize.js"></script>
    <script src="app/app.js"></script>
</body>
</html>
