* {
    margin: 0;
    padding: 0;
}
body {
    font: 12px/1.4 Georgia, Serif;
}
#page-wrap {
	position: relative;
    margin: 30px;
}

/* Zebra striping */
tbody tr:nth-of-type(odd) {
    background: #eee;
}
tbody tr:hover{
    background-color: #ffff99;
}
th {
    //background: #333;
    background: #838B8B;
    font-weight: bold;
}
td, th {
  	//overflow:hidden;
    word-wrap:break-word;
	padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
    vertical-align:top;
}
.hidden{
    display:none;
}
