<table class="resizable">
    <caption>Data Table with resizable columns</caption>
    <colgroup>
        <col style="width: 100px;" />
        <col style="width: 150px;" />
        <col style="width: 100px;" />
    </colgroup>
    <thead>
        <tr class="colHeaders">
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1, col 1</td>
            <td>Row 1, col 2</td>
            <td>Row 1, col 3</td>
        </tr>
    </tbody>
</table>
